@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #03a6a6;
  --secondary-color: #000000;
  --tertiary-color: #ffffff;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  display: inline-block;
  color: var(--secondary-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1490px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.col-50 {
  width: 50%;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.primary-btn {
  padding: 23px 27px 22px;
  border-radius: 50px;
  border: 1px solid var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.primary-btn::after,
.secondary-btn::after {
  content: "";
  width: 10px;
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transition: all 1s linear;
  /* border-radius:50px; */
}

.primary-btn > span {
  position: relative;
  z-index: 2;
}

.secondary-btn {
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: capitalize;
  padding: 22px 30.5px 23px;
  background: var(--tertiary-color);
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}

.secondary-btn > span {
  position: relative;
  z-index: 2;
  transition: 1s linear;
}

.primary-btn:hover::after,
.secondary-btn:hover::after {
  transform: scale(80);
}

.secondary-btn:hover span {
  color: var(--tertiary-color);
}

.title-1 {
  color: var(--tertiary-color);
  font-size: 72px;
  font-weight: 500;
  line-height: calc(72 / 72);
}

.title2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}

/* 
===========
Header Section
===========
*/

header {
  padding: 15px 0;
}

.navbar-brand {
  width: 218px;
}

.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav,
.navbar-collapsed,
.navbar-collapsed > ul,
.navbar-btn {
  display: flex;
  align-items: center;
}

.navbar-collapsed {
  flex-grow: 1;
}

.navbar-collapsed > ul {
  margin-left: auto;
}

.nav-item {
  margin-right: 36px;
}

.navbar-btn > a.primary-btn {
  margin-left: 36px;
}

.nav-links {
  transition: 0.5s linear;
}

.nav-links:hover,
.nav-links.active,
.log-in-btn:hover {
  color: var(--primary-color);
}

nav .primary-btn {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 500;
}

nav .primary-btn span {
  transition: 0.5s linear;
}

nav .primary-btn:hover span {
  color: white;
}

.menu-bar {
  display: none;
}

/* 
===========
Banner Section
===========
*/

.banner-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-wrpr .title-1 {
  max-width: 581px;
}

.banner-wrpr p {
  color: white;
  max-width: 597px;
  line-height: calc(24 / 16);
  font-style: italic;
  font-weight: 300;
  margin: 26px 0 36px;
}

.banner-wrpr .banner-btn {
  display: flex;
  align-items: center;
}

.banner-btn .primary-btn > span {
  color: white;
}
.banner-btn .primary-btn {
  border: 1px solid white;
  text-transform: capitalize;
  margin-left: 18px;
}

.sm-navbar-btn {
  display: none;
}

/* 
============
spprt-section
============
*/

.spprt-sec {
  padding: 120px 0;
}

.spprt-row {
  align-items: center;
}

.spprt-img {
  max-width: 745px;
  position: relative;
}

.spprt-img::after {
  content: "";
  height: 335px;
  width: 335px;
  background: var(--primary-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(500px);
  z-index: -1;
}

.spprt-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.spprt-cntn {
  max-width: 497px;
}

.subtitle {
  letter-spacing: 8px;
  text-transform: uppercase;
}

.spprt-cntn .title2 {
  max-width: 380px;
  margin-top: 15px;
  margin-bottom: 31px;
}

.spprt-cntn p {
  line-height: calc(24 / 16);
  margin-bottom: 33px;
}

.spprt-cntn .secondary-btn {
  border: 1px solid var(--secondary-color) !important;
}

/* Who We Are Section */

.who-we-are-sec {
  padding: 281px 0;
  position: relative;
  color: white;
  border-radius: 0 0 11.979vw 11.979vw;
  background: url("../assets/whowearebg.png") no-repeat center/cover;
}

.who-we-are-sec::after {
  content: "";
  position: absolute;
  height: 335.35px;
  width: 335.35px;
  border-radius: 50%;
  background: #2880b9;
  filter: blur(400px);
  bottom: calc(-335.35px / 2);
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.who-we-are-sec p {
  max-width: 496px;
  line-height: calc(24 / 16);
  margin-bottom: 33px;
}

.who-we-are-sec .title2 {
  max-width: 404px;
  margin: 15px 0 31px;
}

.who-we-are-sec .primary-btn {
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
}

/* Future Section */

.future-sec {
  padding: 120px 0;
}

.future-hdr {
  text-align: center;
  margin-bottom: 46px;
}

.future-hdr > h2 {
  max-width: 678px;
  margin: 0 auto;
}

.future-hdr > p {
  max-width: 835px;
  margin: 0 auto;
  margin-top: 28px;
}

.future-video {
  max-width: 1212px;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
}

.future-video > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 94px;
  width: 94px;
}

.video-btn > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.video-btn::after {
  content: "";
  inset: -10px;
  position: absolute;
  background: rgba(255, 255, 255, 24%);
  border-radius: 50%;
}

/* Testimoinial Section */

.testimonial-sec {
  padding: 281px 0;
  color: var(--tertiary-color);
  border-radius: 0 0 11.979vw 11.979vw;
  background: url("../assets/testimonial-bg.png") no-repeat center/cover;
}

.testimonial-wrpr {
  text-align: center;
}

.testimonial-wrpr .title2 {
  max-width: 893px;
  margin: 15px auto 31px;
}

.testimonial-wrpr p {
  line-height: calc(24 / 16);
  margin-bottom: 33px;
}

.slider-card {
  position: relative;
  padding: 35.61px 53px 70px 29.64px;
  /* padding: 35.61px 29.64px 70px 29.64px; */
  border-radius: 43.49px;
  background: rgba(255, 255, 255, 5%);
  border: 1.28px solid rgba(255, 255, 255, 10%);
  backdrop-filter: blur(31.91px);
  /* box-shadow: 19.15px 12.76px 10px rgba(0, 0, 0, 26%); */
  /* max-width: 461px; */
  margin: 77.86px 15px 90px;
}

.float-qu {
  height: 77.86px;
  width: 77.86px;
  border-radius: 50px;
  background: url("../assets/Rectangle.png") center/cover no-repeat;
  border: 1.28px solid rgba(255, 255, 255, 10%);
  backdrop-filter: blur(60px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(-77.86px / 2);
  right: 50.99px;
}

.float-qu > img {
  width: 42.12px;
  height: 35.74px;
  object-fit: contain;
}

.person-details {
  display: flex;
  align-items: center;
}

.person-details > img {
  height: 62.54px;
  width: 62.54px;
  object-fit: cover;
  border-radius: 50%;
}

.person-name {
  margin-left: 19.15px;
  font-weight: 500;
  font-size: 24px;
}

.person-testimonials {
  margin-top: 40.97px;
}

.slick-next,
.slick-prev {
  z-index: 99;
  height: 61.27px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 61.27px;
  backdrop-filter: blur(200px);
}

.slick-next {
  right: -12px;
}

.slick-prev {
  left: -12px;
}

.slick-next::before {
  content: "";
  width: 22.98px;
  height: 100%;
  background: url("../assets/Vector.png") center/contain no-repeat;
  display: inline-block;
}

.slick-prev::before {
  content: "";
  width: 22.98px;
  height: 100%;
  transform: rotate(180deg);
  background: url("../assets/Vector.png") center/contain no-repeat;
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  .navbar-collapsed {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    /* background: ; */
    transition: 0.5s linear;
    background: rgba(0, 0, 0, 0.2);
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 60%;
    backdrop-filter: blur(30px);
    z-index: 4;
  }

  .navbar-btn {
    display: none;
  }

  .sm-navbar-btn {
    display: flex !important;
    margin-left: auto;
    margin-right: 20px;
  }

  .navbar-collapsed > ul {
    margin: 0 auto;
    flex-direction: column;
  }

  .nav-item {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .menu-bar {
    display: block;

    position: relative;
    z-index: 99;
  }

  .menu-bar::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background: var(--secondary-color);
    left: 0;
    top: 4px;
    transition: 0.5s linear;
  }

  .menu-bar > span {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: var(--secondary-color);
    transition: 0.5s linear;
  }

  /* #menu:checked ~ .menu-bar::after {
    display: none;
  } */

  #menu:checked ~ .menu-bar::before {
    transform: rotate(45deg) translateX(5px);
    background: white;
  }

  #menu:checked ~ .menu-bar > span {
    transform: rotate(-45deg) translateX(5px);
    background: white;
  }

  #menu:checked ~ .navbar-collapsed {
    right: 0%;
  }
}

@media screen and (max-width: 992px) {
  .col-50 {
    width: 100%;
  }
  .spprt-img {
    margin-bottom: 30px;
  }

  /* Who We are Section */

  .who-we-are-sec,
  .testimonial-sec {
    padding: 120px 0;
    /* border-radius: 0 0 120px 120px; */
  }

  /* Testimonial Section */
  .slider-card {
    padding: 20px 25px;
  }

  .float-qu {
    right: 16.99px;
  }
}

@media screen and (max-width: 768px) {
  .title-1 {
    font-size: 32px;
  }

  .title2 {
    font-size: 28px;
  }
  .primary-btn,
  .secondary-btn {
    padding: 10px 15px;
  }
  .primary-btn,
  .secondary-btn {
    font-size: 12px !important;
  }

  /* Header Section */
  .navbar-brand {
    width: 140px;
  }

  .navbar-btn > .primary-btn {
    margin-left: 10px !important;
  }

  .navbar-collapsed {
    width: 90%;
  }

  /* Banner Section */
  .banner-btn {
    flex-direction: column;
    align-items: start !important;
    justify-content: start;
  }
  .banner-btn .primary-btn {
    margin-left: 0px !important;
    margin-top: 30px;
  }

  /* Future Section */

  .video-btn {
    height: 54px;
    width: 54px;
  }
}
