@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #03a6a6;
  --secondary-color: #000000;
  --tertiary-color: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  display: inline-block;
  color: var(--secondary-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1490px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.primary-btn {
  padding: 23px 27px 22px;
  border-radius: 50px;
  border: 1px solid var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.primary-btn::after,
.secondary-btn::after {
  content: "";
  width: 10px;
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transition: all 1s linear;
  /* border-radius:50px; */
}

.primary-btn > span {
  position: relative;
  z-index: 2;
}

.secondary-btn {
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: capitalize;
  padding: 22px 30.5px 23px;
  background: var(--tertiary-color);
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}

.secondary-btn > span {
  position: relative;
  z-index: 2;
  transition: 1s linear;
}

.primary-btn:hover::after,
.secondary-btn:hover::after {
  transform: scale(40);
}

.secondary-btn:hover span {
  color: var(--tertiary-color);
}

.title-1 {
  color: var(--tertiary-color);
  font-size: 72px;
  font-weight: 500;
  line-height: calc(72 / 72);
}

/* 
===========
Header Section
===========
*/

header {
  padding: 15px 0;
}

.navbar-brand {
  width: 218px;
}

.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav,
.navbar-collapsed,
.navbar-collapsed > ul,
.navbar-btn {
  display: flex;
  align-items: center;
}

.navbar-collapsed {
  flex-grow: 1;
}

.navbar-collapsed > ul {
  margin-left: auto;
}

.nav-item {
  margin-right: 36px;
}

.navbar-btn > a.primary-btn {
  margin-left: 36px;
}

.nav-links {
  transition: 0.5s linear;
}

.nav-links:hover,
.nav-links.active,
.log-in-btn:hover {
  color: var(--primary-color);
}

nav .primary-btn {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 500;
}

.menu-bar {
  display: none;
}

/* 
===========
Banner Section
===========
*/

.banner-section {
  min-height: 100vh;
  background: url("../assets/1114951_Man_Woman_1280x720.gif") no-repeat
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-wrpr .title-1 {
  max-width: 581px;
}

.banner-wrpr p {
  color: white;
  max-width: 597px;
  line-height: calc(24 / 16);
  font-style: italic;
  font-weight: 300;
  margin: 26px 0 36px;
}

.banner-wrpr .banner-btn {
  display: flex;
  align-items: center;
}

.banner-btn .primary-btn > span {
  color: white;
}
.banner-btn .primary-btn {
  border: 1px solid white;
  text-transform: capitalize;
  margin-left: 18px;
}

.sm-navbar-btn {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navbar-collapsed {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    /* background: ; */
    transition: 0.5s linear;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 60%;
    backdrop-filter: blur(50px);
    z-index: 4;
  }

  .navbar-btn {
    display: none;
  }

  .sm-navbar-btn {
    display: flex !important;
    margin-left: auto;
    margin-right:20px;
  }

  .navbar-collapsed > ul {
    margin: 0 auto;
    flex-direction: column;
  }

  .nav-item {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .menu-bar {
    display: block;

    position: relative;
    z-index: 99;
  }

  .menu-bar::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 30px;
    background: var(--secondary-color);
    left: 0;
    top: 8px;
    transition: 0.5s linear;
  }

  .menu-bar::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background: var(--secondary-color);
    left: 0;
    bottom: 0;
    transition: 0.5s linear;
  }

  .menu-bar > span {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: var(--secondary-color);
    transition: 0.5s linear;
  }

  #menu:checked ~ .menu-bar::after {
    display: none;
  }

  #menu:checked ~ .menu-bar::before {
    transform: rotate(45deg) translateX(-5px);
  }

  #menu:checked ~ .menu-bar > span {
    transform: rotate(-45deg) translateX(-5px);
  }

  #menu:checked ~ .navbar-collapsed {
    right: 0%;
  }
}
